html,
body,
#root {
  width: 100%;
  height: 100%;
}

main {
  display: block;
}

#root {
  overflow-y: auto;
}

html {
  height: auto !important;
}

body {
  margin: 0;
  background-color: #fff;
  color: #002423;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

.todo_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bolder;
  color: #002423;
  border: 2px solid #002423;
  background-color: #33cdc7;
  margin-top: 10px;
  padding: 15px 20px;
  width: 100%;
  cursor: pointer;
}

.item_data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}

.todos {
  padding: 0 10%;
  height: 386px; /*height of content*/
}

.btn {
  background-color: #006561;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-size: 26px;
  font-weight: bolder;
  padding: 0 10px 5px 10px;
  text-align: center;
  transition: all 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: #1d7471;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.btn:active {
  transform: translateY(3px);
  transition-duration: 0.15s;
}

.btn:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}

.form {
  background: #5ccdc9;
  padding: 20px 20px;
  border: 2px solid #002423;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
}

input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 5px solid #002423;
  background: #fff;
  width: 100%;
  outline: none;
  color: rgba(0, 0, 0, 1);
  padding-left: 15px;
  margin: 0 30px 0 0;
  border-radius: 1ch;
}
input:focus {
  border-bottom: 5px solid;
}

.completed {
  text-decoration: line-through;
  background: #33cd8b;
  transition: 0.3s;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer_item {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 15px 0;
}

.footer_item.second {
  background-color: #006561;
}

.footer_item span {
  font-size: 10px;
  color: #ffffffa5;
}

.statistics {
  font-size: 18px;
}
